@import "tailwindcss";

:root {
  --font-display: "Inter", "sans-serif";
  --color-primary-500: oklch(0.84 0.18 117.33);
  --spacing: 0.25rem;
}

@layer utilities {
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 25%;
    }
  }

  @keyframes blink {
    50% {
      border-color: transparent;
    }
    100% {
      border-color: white;
    }
  }

  .animate-typing {
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid white;
    animation: typing 3s steps(30, end) forwards, blink 1s step-end 3s infinite;
  }
}


 
:root {
  --animate-scroll: scroll var(--animation-duration, 40s) var(--animation-direction, forwards) linear infinite;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}